<nav id="up">
    <div class="gradient-overlay"></div>
    <div class="menu-wrapper">
        <ul>
            <li>
                <a href="{{ path('home.index') }}">HOME</a>
            </li>
            <li>
                <a href="{{ path('news.index') }}">NEWS</a>
            </li>
            <li>
                <a href="{{ path('galery.index') }}">GALERY</a>
            </li>
            <li>
                <a href="{{ path('profile.index') }}">PROFILE</a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li>
                    <a href="{{ path('sonata_admin_dashboard') }}">ADMIN</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>